<a href="https://colab.research.google.com/github/Bakaos/Curso_UVV/blob/main/Data_Manip_AOP2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<?xml version="1.0" encoding="UTF-8"?>
<html>
  <body>
    <header></header>
        <CENTER>
          <img src="https://www.uvv.br/wp-content/themes/uvvBr/templates/assets//img/logouvv.svg" alt="UVV-LOGO" style = width="100px"; height="100px">
        </CENTER>
        <CENTER><b>Programação para manipulação de dados</b></CENTER>
        <CENTER><b>AOP2 - ATIVIDADE ONLINE PONTUADA 2</b></CENTER><br/>

**NOME COMPLETO: Hiran Alberto Hackbardt**

#ATIVIDADE ONLINE PONTUADA – AOP2(Discursiva)

Usar as **Técnicas de programação Python:**

### $\Longrightarrow$**Vetorização**

### $\Longrightarrow$**Indexação Booleana**

### $\Longrightarrow$**Indexação Sofisticada**

<FONT FACE=Arial COLOR="red">**HÁ EXEMPLOS PRONTOS NOS NOTEBOOKS DAS LIÇÕES!!!!!**

**Link do Arquivo dataset.npy**: [Clique Aqui!](https://drive.google.com/file/d/1ovtUohGbbXR4KbWbueeKgn7cGTcAbdut/view?usp=sharing)

# Carregar o Dataset (arquivo)

In [ ]:
from google.colab import files
import pandas
import numpy

In [ ]:
# Abrir o arquivo (AOP2.npy) do diretório salvo na sua máquina.
file = files.upload()

Saving dataset.npy to dataset.npy

In [ ]:
dataset = numpy.load('dataset.npy')
dataset

array([[3159.        , 3033.7393458 ],
       [2530.        ,   25.        ],
       [9301.        , 1608.58573348],
       ...,
       [2806.        , 1796.70178143],
       [5319.        , 5170.1692601 ],
       [2575.        , 4841.59095062]])

In [ ]:
type(dataset)

numpy.ndarray

In [ ]:
#SOMENTE PARA UMA MELHOR VISUALIZAÇÃO DOS DADOS
df = pandas.DataFrame(dataset,
                      columns=['CÓDIGO DO CLIENTE', 'TOTAL DE COMPRAS: R$'])
df

      CÓDIGO DO CLIENTE  TOTAL DE COMPRAS: R$
0                3159.0           3033.739346
1                2530.0             25.000000
2                9301.0           1608.585733
3                2168.0           1018.298846
4                2793.0           3399.205837
...                 ...                   ...
7995             8730.0           2815.080335
7996             8374.0           2836.407819
7997             2806.0           1796.701781
7998             5319.0           5170.169260
7999             2575.0           4841.590951

[8000 rows x 2 columns]

# **QUESTÃO 1:** (0.50 PONTOS POR LETRA)

A partir do Dataset NumPy (dataset.npy) com o Código e o total de compras (2020) dos 8.000 clientes de um site online. Com isso, faça um Notebook Colab Google (AOP2.IPYNB) com as seguintes questões:

a)	**MANIPULAÇÃO 1**: Exibir na tela a quantidade de clientes, em porcentagem (%), com os seguintes cartões.

<center>

![image.png]()

In [ ]:
clientesBronzes = dataset[:, 1] <= 100.00
sum(clientesBronzes) / dataset.shape[0]

0.360375

In [ ]:
clientesPrata = (dataset[:, 1] > 100.00) & (dataset[:,1] <=500.00)
sum(clientesPrata) / dataset.shape[0]

0.056

In [ ]:
clientesOuro = (dataset[:, 1] > 500.00) & (dataset[:,1]<=1000.00)
sum(clientesOuro) / dataset.shape[0]

0.07275

In [ ]:
clientesPlatina = dataset[:, 1] > 1000.00
sum(clientesPlatina) / dataset.shape[0]

0.510875

In [ ]:
print(f'Quantidade de Clientes - Cartão Bronze: {sum(clientesBronzes) / dataset.shape[0] * 100: .2f}%.')
print(f'Quantidade de Clientes - Cartão Prata: {sum(clientesPrata) / dataset.shape[0] * 100: .2f}%.')
print(f'Quantidade de Clientes - Cartão Ouro: {sum(clientesOuro) / dataset.shape[0] * 100: .2f}%.')
print(f'Quantidade de Clientes - Cartão Platina: {sum(clientesPlatina) / dataset.shape[0] * 100: .2f}%.')
print(f'Quantidade de Clientes - Total: {( sum(clientesBronzes) + sum(clientesPrata) + sum(clientesOuro) + sum(clientesPlatina) ) / dataset.shape[0] * 100: .2f}%.')

Quantidade de Clientes - Cartão Bronze:  36.04%.
Quantidade de Clientes - Cartão Prata:  5.60%.
Quantidade de Clientes - Cartão Ouro:  7.27%.
Quantidade de Clientes - Cartão Platina:  51.09%.
Quantidade de Clientes - Total:  100.00%.

b)	**MANIPULAÇÃO 2**: Exibir o valor médio de compra por Grupo de Cartão.

In [ ]:
print(f'Valor Médio de compras no cartão Bronze: {sum(dataset[clientesBronzes,1])/sum(clientesBronzes): .2f}')
print(f'Valor Médio de compras no cartão Prata: {sum(dataset[clientesPrata,1])/sum(clientesPrata): .2f}')
print(f'Valor Médio de compras no cartão Ouro: {sum(dataset[clientesOuro,1])/sum(clientesOuro): .2f}')
print(f'Valor Médio de compras no cartão Platina: {sum(dataset[clientesPlatina,1])/sum(clientesPlatina): .2f}')

Valor Médio de compras no cartão Bronze:  26.08
Valor Médio de compras no cartão Prata:  297.15
Valor Médio de compras no cartão Ouro:  744.78
Valor Médio de compras no cartão Platina:  3203.94

c)	**MANIPULAÇÃO 3**: Exibir na tela uma LISTA: os 5 maiores compradores deste site online.

In [ ]:
dataset2 = dataset
numpy.sort(dataset2, axis =1)
df = pandas.DataFrame(dataset2, columns = ['COD', 'Valor'])
top5 = df.sort_values(by='Valor', ascending = False).head(5)
top5

         COD         Valor
1808  6903.0  11947.516458
4347  3068.0  11172.345373
4455  2453.0  11163.150812
2668  5276.0  10345.071680
1082  4962.0  10318.002287

d)	**MANIPULAÇÃO 4**: Exibir na tela uma LISTA: código e total de compras dos **5 MAIORES compradores POR GRUPO** deste site online.

In [ ]:
setBronze = dataset[clientesBronzes,:]
df = pandas.DataFrame(setBronze, columns = ['COD', 'Valor'])
top5 = df.sort_values(by='Valor', ascending = False).head(5)
top5

         COD      Valor
2410  8048.0  99.659189
1638  6201.0  99.646738
1774  9506.0  96.591394
1748  8944.0  95.998523
2046  2830.0  95.836288

In [ ]:
setPrata = dataset[clientesPrata,:]
df = pandas.DataFrame(setPrata, columns = ['COD', 'Valor'])
top5 = df.sort_values(by='Valor', ascending = False).head(5)
top5

        COD       Valor
194  8585.0  497.606833
105  8624.0  497.186069
42   2046.0  495.317337
124  8902.0  495.239629
100  6257.0  494.619731

In [ ]:
setOuro = dataset[clientesOuro,:]
df = pandas.DataFrame(setOuro, columns = ['COD', 'Valor'])
top5 = df.sort_values(by='Valor', ascending = False).head(5)
top5

        COD       Valor
46   3151.0  997.875109
556  5617.0  997.279450
332  4210.0  994.854815
1    6891.0  994.241228
326  5475.0  994.043645

In [ ]:
setPlatina = dataset[clientesPlatina,:]
df = pandas.DataFrame(setPlatina, columns = ['COD', 'Valor'])
top5 = df.sort_values(by='Valor', ascending = False).head(5)
top5

         COD         Valor
954   6903.0  11947.516458
2213  3068.0  11172.345373
2264  2453.0  11163.150812
1389  5276.0  10345.071680
594   4962.0  10318.002287

**OBSERVAÇÃO IMPORTANTE:**

**PARA ENTREGAR A ATIVIDADE:**

OBRIGATÓRIO: Faça a impressão do seu **Notebook Colab (.ipynb) no formato PDF (Acrobat): .PDF** e faça o upload no AVA: AOP2.pdf.

# New Section

#CONVERTER IPYNB para PDF

PASSO A PASSO:

1.   Fazer o download do seu IPYNB.
2.   Fazer o upload do seu IPYNB para área temporária: content.
3.   Rodar o código abaixo com seu NOME_DO_COLAB.ipynb: Gerar um HTML.
4.   Fazer o download do seu HTML e abrir em um Browser qualquer.
3.   Imprimir a página HTML em PDF. Pronto (UFA)::: 😅!

In [ ]:
%%shell
jupyter nbconvert --to html /content/AOP2.ipynb

[NbConvertApp] Converting notebook /content/AOP2.ipynb to html
[NbConvertApp] Writing 354423 bytes to /content/AOP2.html

**NÃO ENVIAR O ARQUIVO COLAB: .IPYNB**

**FAÇA AQUI UM LINK PARA O PROFESSOR** (COMPARTILHADO COM TODOS): [Link para o professor!]()